@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
:root{
    --color:rgb(166, 98, 125);
    --seccolor:rgb(240, 198, 215);
    --text:white;
    --third:rgb(255, 219, 233);
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
<<<<<<< HEAD
=======
   
>>>>>>> 4e7377a7c30dd43a531e07772f4c9eeebb3b3f71
}
*{
    padding: 0;
    margin: 0;
    color: var(--color);
}
body{
    position: relative;
}
.features{
    display: flex;
    gap: 20px;
    text-decoration: none;
}
.content a{
    text-decoration: none;
    color: var(--color);
    /* width: 30px; */
    /* border: 2px solid var(--color); */
    padding: 5px;
    font-size: large;
    z-index: 10;
}
.content a:hover{
    font-size: x-large;
    font-weight: 700;
}
.logo{
    display: flex;
    align-items: center;
    font-size:25px;  
}
.logo p{
    color: var(--color); 
    font-weight: 900;
    font-size: xx-large;
    margin-left: -10px;
}
nav{
    /* background-color: var(--color); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
    position:fixed;
    top: 0px;
    z-index: 100;
    width: 100vw;
    background-color: rgb(253, 252, 253);
}

.main{
    background-color: var(--color);
    color: var(--text);
    width: 100vw;
    height: 90vh;
    margin-top: 100px;
    background-image: url("../image/img1.jpg");
    opacity:0.1;
    position: relative;
    top: -100px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}
.box{
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    /* z-index:10; */
    top: 100px;
    /* gap: 100px; */
    width: 70vw;
    background-color: var(--seccolor);
    transform: translateX(15%);
    border-radius: 20px;
    z-index: -10;

}
.box p{
    background-color: var(--seccolor);
    border-radius: 20px;
    padding: 50px;
}
.box img{
    border-radius: 20px;
}
.quote{
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--seccolor);
    margin-top: -100px;
}
.thinks{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    margin: 50px;
}
.col{
    width: 280px;
    height: 300px;
    background-color: var(--third);
    display: flex;
    align-items: center;
    justify-content: center;
}
.col img{
    width: 100%;
    height: 100%;
}
#thinks-h1{
    text-align: center;
    margin-top: 40px;
}