{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Period Helper</title>
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
</head>

<body>
    <nav>
        <div class="logo">
            <img src="{% static 'image/logo.jpg' %}" alt="img" width="100px">
            <p>MOONSYNC</p>
        </div>
        <div class="features">
            <div class="content"><a href="{% url 'tracking' %}">TRACKING</a></div>
            <div class="content"><a href="{% url 'video' %}">SELFCARE</a></div>
            <div class="content"><a href="{% url 'products' %}">PRODUCTS</a></div>
            <div class="content"><a href="{% url 'doct' %}">DOCTOR</a></div>
            <div class="content"><a href="{% url 'chat' %}">AI</a></div>
            <div class="content"><a href="{% url 'logout' %}">LOGOUT</a></div>
        </div>


    </nav>
    <div class="main">
    </div>
    <div class="box">
        <p>Sometimes it can feel embarrassing talking about periods – but remember, periods are normal. You are entitled
            to ask for the help that you need to experience good menstrual health and wellbeing.

            A period is the part of the menstrual cycle when women, girls and people who menstruate bleed from their
            vagina.

            For most people this happens every 28 days or so, but it’s common for periods to start sooner or later than
            this. It can range from day 24 to day 38 of your cycle. Periods last from around 4 to 8 days.

            If you’re aged 26 or under or are looking for information to help a young person, you can find out more
            about periods on the Young Scot website.

            You can get period products for free in Scotland in a range of places. You can contact your local council to
            find out where you can access free products in your area or you can use the PickupMyPeriod app.
            By law, councils and education providers now have to make these products available for free for anyone who
            needs them.
        </p>
        <img src="{%  static 'image/img1.jpg' %} " width="400px">
    </div>
    <div class="quote">
        <h2>Empowering Cycles, Embracing Wellness</h2>
        <p>"Your trusted companion for period tracking, self-care, and health insights. Let's break the stigma and
            prioritize menstrual health together."</p>
    </div>
    <h1 id="thinks-h1">Flow with Strength: Simple Steps to Period Wellness</h1>
    <div class="thinks">
        <div class="col">
            <img src="{% static 'image/col1.jpg' %}" alt="img">
        </div>
        <div class="col">
            "Warmth and care—your best remedy for cramps."
        </div>
        <div class="col">
            <img src="{% static 'image/col2.jpg' %}" alt="">
        </div>
        <div class="col">
            <p>"Water your body, nourish your soul."</p>
        </div>
        <div class="col">
            <img src="{% static 'image/col3.jpg' %}" alt="">
        </div>
        <div class="col">"Gentle steps, stronger vibes."</div>
        <div class="col">
            <img src="{% static 'image/col4.jpg' %}" alt="">
        </div>
        <div class="col">"Right products, better periods."</div>

        <div class="col">
            <img src="{% static 'image/col5.jpg' %}" alt="">
        </div>
        <div class="col">"Talk it out—empowered women empower women."</div>
    </div>
</body>

</html>