<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Page</title>
    <link rel="stylesheet" href="../static/styles/products.css">
</head>
<body>
    <nav>
        <div class="logo">
            <img src="../static/image/logo.jpg" alt="img" width="100px">
            <p>MOONSYNC</p>
            <!-- <div id="goback"><a href="home.html">GO BACK</a></div> -->
        </div>
        <div id="goback"><a href="home.html">GO BACK</a></div>
    </nav>
    <div id="contents">
        <div id="imageUp">
            <!-- <img src="../static/image/image1.avif" alt="img"> -->
        </div>
    </div>
</body>
</html>