<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Page</title>
    <link rel="stylesheet" href="../static/styles/products.css">
</head>
<body>
    <nav>
        <div class="logo">
            <img src="../static/image/logo.jpg" alt="img" width="100px">
            <p>MOONSYNC</p>
        </div>
        <div id="goback"><a href="home.html">GO BACK</a></div>
    </nav>
    <div id="contents">
        
    </div>
    <div class="product">
        <div class="col">
            <img src="../static/image/pad3.jpg" alt="img">
        </div>
        <div class="col">
            <img src="../static/image/pad.jpg" alt="img">
        </div>
        <div class="col">
            <img src="../static/image/tampon2.jpg" alt="img">
        </div>
        <div class="col">
            <img src="../static/image/disc1.jpg" alt="img">
        </div>
    </div>
    <div class="product2">
        <div class="col">
            <img src="../static/image/hotbag.jpg" alt="img">
        </div>
        <div class="col">
            <img src="../static/image/liner.jpg" alt="img">
        </div>
        <div class="col">
            <img src="../static/image/steri1.jpg" alt="img">
        </div>
        <div class="col">
            <img src="../static/image/panty1.jpg" alt="img">
        </div>
    </div>
    <div class="links">
        <div class="tags"><a href="https://www.amazon.in/s?k=menstrual+cups&crid=P1LRQK8CMUVO&sprefix=menstrual+cups%2Caps%2C270&ref=nb_sb_noss_1">MENSTRUAL CUPS</a></div>
        <div class="tags"><a href="https://www.amazon.in/s?k=menstrual+pads&crid=3ECW4NNQNMR95&sprefix=menstrual+pads%2Caps%2C486&ref=nb_sb_noss_1">PADS</a></div>
        <div class="tags"><a href="https://www.amazon.in/s?k=tampons+for+periods&crid=20RKTHER061U7&sprefix=tampons%2Caps%2C291&ref=nb_sb_ss_ts-doa-p_1_7">TAMPONS</a></div>
        <div class="tags"><a href="https://www.amazon.in/s?k=menstrual+disc&crid=J6KKSG8GY39W&sprefix=MENSTRUAL+DISC%2Caps%2C309&ref=nb_sb_ss_ts-doa-p_1_14">MENSTRUAL DISCS</a></div>
    </div>
    <div class="links2">
        <div class="tags"><a href="https://www.amazon.in/s?k=hotbags&crid=120BD9S15ZSTM&sprefix=hotbags%2Caps%2C366&ref=nb_sb_noss_2">HOTBAGS</a></div>
        <div class="tags"><a href="https://www.amazon.in/s?k=pantyliners&crid=395967YPHHLRY&sprefix=panty%2Caps%2C344&ref=nb_sb_ss_ts-doa-p_2_5">PANTY LINERS</a></div>
        <div class="tags"><a href="https://www.amazon.in/s?k=steriliser+case+for+menstrual+use&crid=3QO66X0JHNQNM&sprefix=steriliser+case+for+menstrual+us%2Caps%2C292&ref=nb_sb_noss">STERILIZER CASE</a></div>
        <div class="tags"><a href="https://www.amazon.in/s?k=period+panties+cloth&crid=NSO9TVVXZESR&sprefix=period+panties+clot%2Caps%2C457&ref=nb_sb_noss_2">PERIOD PANTIES</a></div>
    </div>
</body>
</html>