<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <!-- Link to external CSS -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles/tracking.css' %}">
</head>
<body>
  <nav>
      <img src="{% static 'image/logo.jpg' %}" alt="img" width="100px">
      <p>MOONSYNC</p>
  </nav>
  <header class="greeting">
    <h1>{{ greeting }},{{ request.user.username }}</h1>
    <h1>Welcome to our Tracker</h1>
  </header>

  <div class="container">
    
    <div id="calendar">
      <!-- Row for Weekday Names (Mon, Tue, etc.) -->
      <div class="calendar-row weekday-row">
        {% for day in week_names %}
          <div class="day-name">{{ day }}</div> <!-- Show weekday names (Mon, Tue, etc.) -->
        {% endfor %}
      </div>

      <div class="calendar-row date-row">
        {% for day in week_dates %}
          <div class="day {% if day in period_dates %}has-period{% endif %} {% if day.day == current_day_number %}current-day{% endif %}">
            {{ day.day }} <!-- Display only the day of the month -->
      
            <!-- Add the red dot if the day is in period_dates -->
            {% if day in period_dates %}
              <div class="red-dot"></div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      
      
    </div>
    <h2>Your Dashboard</h2>
    <p>Track your tasks and progress efficiently.</p>
    
    <div class="progress-container">
      {% if period_data.on_period %}
          <!-- Progress Ring for Current Period -->
          <div class="outer-circle">
              <div class="progress-ring" id="progressRing" style="--progress: {{ period_data.progress }};"></div>
              <div class="inner-circle"></div>
          </div>
          
          <!-- Progress Value -->
          
          
          <div class="progress-value" >
            <p> {{ period_data.day_of_period }}th day of period out of {{ period_data.period_duration }}</p>
             <!-- <p> {{ period_data.day_of_period }}th day of period out of {{ period_data.period_duration }}</p> -->
          </div>
      {% else %}
          <p>Your period is coming in {{ period_data.days_left }} days!</p>
      {% endif %}
  </div>
  
  
    


  <script src="{% static 'js/index.js' %}"></script>
</body>
</html>
